# CPSC5175 Lab 7 - Chapter 7
#### Jamion Williams

### Problem 7.2 
##### Upon the Universal Bank dataset...

###### c) Show the confusion matrix for the validation data that results from using the best __k__

In [24]:
# the usual suspects

library(caret)
set.seed(420)

In [25]:
# Import the dataset and interrogate it.

raw.df <- read.csv("Datasets/UniversalBank.csv",header = TRUE)

dim(raw.df)
t(t(names(raw.df)))
head(raw.df)
summary(raw.df)
colnames(raw.df)

[1] 5000   14

      [,1]
 [1,] ID
 [2,] Age
 [3,] Experience
 [4,] Income
 [5,] ZIP.Code
 [6,] Family
 [7,] CCAvg
 [8,] Education
 [9,] Mortgage
[10,] Personal.Loan
[11,] Securities.Account
[12,] CD.Account
[13,] Online
[14,] CreditCard

  ID Age Experience Income ZIP.Code Family CCAvg Education Mortgage
1 1  25   1          49    91107    4      1.6   1           0
2 2  45  19          34    90089    3      1.5   1           0
3 3  39  15          11    94720    1      1.0   1           0
4 4  35   9         100    94112    1      2.7   2           0
5 5  35   8          45    91330    4      1.0   2           0
6 6  37  13          29    92121    4      0.4   2         155
  Personal.Loan Securities.Account CD.Account Online CreditCard
1 0             1                  0          0      0
2 0             1                  0          0      0
3 0             0                  0          0      0
4 0             0                  0          0      0
5 0             0                  0          0      1
6 0             0                  0          1      0

       ID            Age          Experience       Income          ZIP.Code
 Min.   :   1   Min.   :23.00   Min.   :-3.0   Min.   :  8.00   Min.   : 9307
 1st Qu.:1251   1st Qu.:35.00   1st Qu.:10.0   1st Qu.: 39.00   1st Qu.:91911
 Median :2500   Median :45.00   Median :20.0   Median : 64.00   Median :93437
 Mean   :2500   Mean   :45.34   Mean   :20.1   Mean   : 73.77   Mean   :93152
 3rd Qu.:3750   3rd Qu.:55.00   3rd Qu.:30.0   3rd Qu.: 98.00   3rd Qu.:94608
 Max.   :5000   Max.   :67.00   Max.   :43.0   Max.   :224.00   Max.   :96651
     Family          CCAvg          Education        Mortgage
 Min.   :1.000   Min.   : 0.000   Min.   :1.000   Min.   :  0.0
 1st Qu.:1.000   1st Qu.: 0.700   1st Qu.:1.000   1st Qu.:  0.0
 Median :2.000   Median : 1.500   Median :2.000   Median :  0.0
 Mean   :2.396   Mean   : 1.938   Mean   :1.881   Mean   : 56.5
 3rd Qu.:3.000   3rd Qu.: 2.500   3rd Qu.:3.000   3rd Qu.:101.0
 Max.   :4.000   Max.   :10.000   Max.   :3.000   Max.   :635.0
 Personal.Loan   Securities.Account   CD.Account         Online
 Min.   :0.000   Min.   :0.0000     Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.000   1st Qu.:0.0000     1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.000   Median :0.0000     Median :0.0000   Median :1.0000
 Mean   :0.096   Mean   :0.1044     Mean   :0.0604   Mean   :0.5968
 3rd Qu.:0.000   3rd Qu.:0.0000     3rd Qu.:0.0000   3rd Qu.:1.0000
 Max.   :1.000   Max.   :1.0000     Max.   :1.0000   Max.   :1.0000
   CreditCard
 Min.   :0.000
 1st Qu.:0.000
 Median :0.000
 Mean   :0.294
 3rd Qu.:1.000
 Max.   :1.000

 [1] "ID"                 "Age"                "Experience"
 [4] "Income"             "ZIP.Code"           "Family"
 [7] "CCAvg"              "Education"          "Mortgage"
[10] "Personal.Loan"      "Securities.Account" "CD.Account"
[13] "Online"             "CreditCard"

In [26]:
anyNA(raw.df)

[1] FALSE

In [33]:
dummies <- dummyVars(Personal.Loan ~ ., data = raw.df)  

dummy.set <- data.frame(predict(dummies, newdata = raw.df))
dummy.set$Personal.Loan <- as.factor(raw.df$Personal.Loan)
head(dummy.set)

  ID Age Experience Income ZIP.Code Family CCAvg Education Mortgage
1 1  25   1          49    91107    4      1.6   1           0
2 2  45  19          34    90089    3      1.5   1           0
3 3  39  15          11    94720    1      1.0   1           0
4 4  35   9         100    94112    1      2.7   2           0
5 5  35   8          45    91330    4      1.0   2           0
6 6  37  13          29    92121    4      0.4   2         155
  Securities.Account CD.Account Online CreditCard Personal.Loan
1 1                  0          0      0          0
2 1                  0          0      0          0
3 0                  0          0      0          0
4 0                  0          0      0          0
5 0                  0          0      1          0
6 0                  0          1      0          0

In [34]:
trainingList <- createDataPartition(dummy.set$ID, p = 0.6, list = FALSE, times = 1)
train.df <- dummy.set[trainingList,]
test.df <- dummy.set[-trainingList,]

dim(train.df)

dim(test.df)

[1] 3000   14

[1] 2000   14

In [35]:
knnTrain <- train(
    Personal.Loan ~ .,
    data = train.df,
    method = "knn",
    preProcess = c("center", "scale"),
    #trControl = ctrl,
    tuneLength = 25
)

knnTrain

k-Nearest Neighbors

3000 samples
  13 predictor
   2 classes: '0', '1'

Pre-processing: centered (13), scaled (13)
Resampling: Bootstrapped (25 reps)
Summary of sample sizes: 3000, 3000, 3000, 3000, 3000, 3000, ...
Resampling results across tuning parameters:

  k   Accuracy   Kappa
   5  0.9404425  0.6095489
   7  0.9415071  0.6050385
   9  0.9410747  0.5972047
  11  0.9407970  0.5883116
  13  0.9403852  0.5809467
  15  0.9397032  0.5736897
  17  0.9380664  0.5575229
  19  0.9367223  0.5450007
  21  0.9355600  0.5340258
  23  0.9346633  0.5249124
  25  0.9339650  0.5183057
  27  0.9335272  0.5131442
  29  0.9321869  0.4991946
  31  0.9317433  0.4945485
  33  0.9313103  0.4894350
  35  0.9306948  0.4819233
  37  0.9302280  0.4770336
  39  0.9295738  0.4695254
  41  0.9285543  0.4595414
  43  0.9279693  0.4521188
  45  0.9277862  0.4503580
  47  0.9270561  0.4411678
  49  0.9265437  0.4345830
  51  0.9259256  0.4283833
  53  0.9254228  0.4219029

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was k = 7.

In [40]:
test.results <- predict(knnTrain, test.df)
postResample(test.results, test.df$Personal.Loan)
confusionMatrix(test.results, test.df$Personal.Loan)

 Accuracy     Kappa
0.9505000 0.6213164

Confusion Matrix and Statistics

          Reference
Prediction    0    1
         0 1811   93
         1    6   90

               Accuracy : 0.9505
                 95% CI : (0.9401, 0.9596)
    No Information Rate : 0.9085
    P-Value [Acc > NIR] : 1.067e-12

                  Kappa : 0.6213

 Mcnemar's Test P-Value : < 2.2e-16

            Sensitivity : 0.9967
            Specificity : 0.4918
         Pos Pred Value : 0.9512
         Neg Pred Value : 0.9375
             Prevalence : 0.9085
         Detection Rate : 0.9055
   Detection Prevalence : 0.9520
      Balanced Accuracy : 0.7443

       'Positive' Class : 0

###### d) Classify the given customer using the best k above.

In [48]:
# create an empty dataframe like the above

new.df = dummy.set[FALSE,]
head(new.df)

     ID Age Experience Income ZIP.Code Family CCAvg Education Mortgage
     Securities.Account CD.Account Online CreditCard Personal.Loan

In [55]:
new.df <- rbind(new.df,list(ID=5001,
                  Age=40,
                  Experience=10,
                  Income=84,
                  ZIP.Code=37405,
                  Family=2,
                  CCAvg=2,
                  Education=0,
                  Mortgage=0,
                  Securities.Account=0,
                  CD.Account=0,
                  Online=1,
                  CreditCard=1,
                  Personal.Loan=0
))

head(new.df)

  ID   Age Experience Income ZIP.Code Family CCAvg Education Mortgage
1 5001 40  10         84     37405    2      2     0         0
  Securities.Account CD.Account Online CreditCard Personal.Loan
1 0                  0          1      1          0

In [56]:
predict(knnTrain, newdata = new.df)

[1] 0
Levels: 0 1

### Problem 7.3
##### Upon the Boston Housing dataset...

###### a) Perform knn with all 12 predictors

In [62]:
# Import the dataset and interrogate it.

raw.df <- read.csv("Datasets/BostonHousing.csv",header = TRUE)

dim(raw.df)
t(t(names(raw.df)))
head(raw.df)
summary(raw.df)
colnames(raw.df)

[1] 506  14

      [,1]
 [1,] CRIM
 [2,] ZN
 [3,] INDUS
 [4,] CHAS
 [5,] NOX
 [6,] RM
 [7,] AGE
 [8,] DIS
 [9,] RAD
[10,] TAX
[11,] PTRATIO
[12,] LSTAT
[13,] MEDV
[14,] CAT..MEDV

  CRIM    ZN INDUS CHAS NOX   RM    AGE  DIS    RAD TAX PTRATIO LSTAT MEDV
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    4.98  24.0
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    9.14  21.6
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    4.03  34.7
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    2.94  33.4
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    5.33  36.2
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7    5.21  28.7
  CAT..MEDV
1 0
2 0
3 1
4 1
5 1
6 0

      CRIM                ZN             INDUS            CHAS
 Min.   : 0.00632   Min.   :  0.00   Min.   : 0.46   Min.   :0.00000
 1st Qu.: 0.08204   1st Qu.:  0.00   1st Qu.: 5.19   1st Qu.:0.00000
 Median : 0.25651   Median :  0.00   Median : 9.69   Median :0.00000
 Mean   : 3.61352   Mean   : 11.36   Mean   :11.14   Mean   :0.06917
 3rd Qu.: 3.67708   3rd Qu.: 12.50   3rd Qu.:18.10   3rd Qu.:0.00000
 Max.   :88.97620   Max.   :100.00   Max.   :27.74   Max.   :1.00000
      NOX               RM             AGE              DIS
 Min.   :0.3850   Min.   :3.561   Min.   :  2.90   Min.   : 1.130
 1st Qu.:0.4490   1st Qu.:5.886   1st Qu.: 45.02   1st Qu.: 2.100
 Median :0.5380   Median :6.208   Median : 77.50   Median : 3.207
 Mean   :0.5547   Mean   :6.285   Mean   : 68.57   Mean   : 3.795
 3rd Qu.:0.6240   3rd Qu.:6.623   3rd Qu.: 94.08   3rd Qu.: 5.188
 Max.   :0.8710   Max.   :8.780   Max.   :100.00   Max.   :12.127
      RAD              TAX           PTRATIO          LSTAT
 Min.   : 1.000   Min.   :187.0   Min.   :12.60   Min.   : 1.73
 1st Qu.: 4.000   1st Qu.:279.0   1st Qu.:17.40   1st Qu.: 6.95
 Median : 5.000   Median :330.0   Median :19.05   Median :11.36
 Mean   : 9.549   Mean   :408.2   Mean   :18.46   Mean   :12.65
 3rd Qu.:24.000   3rd Qu.:666.0   3rd Qu.:20.20   3rd Qu.:16.95
 Max.   :24.000   Max.   :711.0   Max.   :22.00   Max.   :37.97
      MEDV         CAT..MEDV
 Min.   : 5.00   Min.   :0.000
 1st Qu.:17.02   1st Qu.:0.000
 Median :21.20   Median :0.000
 Mean   :22.53   Mean   :0.166
 3rd Qu.:25.00   3rd Qu.:0.000
 Max.   :50.00   Max.   :1.000

 [1] "CRIM"      "ZN"        "INDUS"     "CHAS"      "NOX"       "RM"
 [7] "AGE"       "DIS"       "RAD"       "TAX"       "PTRATIO"   "LSTAT"
[13] "MEDV"      "CAT..MEDV"

In [63]:
anyNA(raw.df)

[1] FALSE

In [64]:
raw.df$ID <- seq.int(nrow(raw.df))
pre.df <- subset(raw.df, select = -c(CAT..MEDV))
head(pre.df)

  CRIM    ZN INDUS CHAS NOX   RM    AGE  DIS    RAD TAX PTRATIO LSTAT MEDV ID
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    4.98  24.0 1
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    9.14  21.6 2
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    4.03  34.7 3
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    2.94  33.4 4
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    5.33  36.2 5
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7    5.21  28.7 6

In [65]:
trainingList <- createDataPartition(pre.df$ID, p = 0.6, list = FALSE, times = 1)
train.df <- pre.df[trainingList,]
test.df <- pre.df[-trainingList,]

dim(train.df)

dim(test.df)

[1] 306  14

[1] 200  14

In [68]:
knnTrain <- train(
    MEDV ~ .,
    data = train.df,
    method = "knn",
    preProcess = c("center", "scale"),
    #trControl = ctrl,
    tuneLength = 5,
    tuneGrid = expand.grid(k = 1:5)
)

knnTrain

k-Nearest Neighbors

306 samples
 13 predictor

Pre-processing: centered (13), scaled (13)
Resampling: Bootstrapped (25 reps)
Summary of sample sizes: 306, 306, 306, 306, 306, 306, ...
Resampling results across tuning parameters:

  k  RMSE      Rsquared   MAE
  1  5.026489  0.6688413  3.341710
  2  4.852901  0.6813433  3.266418
  3  4.750489  0.6918700  3.176312
  4  4.707645  0.6960761  3.158792
  5  4.653763  0.7025724  3.125508

RMSE was used to select the optimal model using the smallest value.
The final value used for the model was k = 5.

In [73]:
test.results <- predict(knnTrain, test.df)
postResample(test.results, test.df$MEDV)

     RMSE  Rsquared       MAE
6.0981555 0.6824017 3.8092000

In [75]:
# create an empty dataframe like the above

new.df = pre.df[FALSE,]
head(new.df)

     CRIM ZN INDUS CHAS NOX RM AGE DIS RAD TAX PTRATIO LSTAT MEDV ID

In [76]:
new.df <- rbind(new.df,list(CRIM=0.2,
                            ZN=0,
                            INDUS=7,
                            CHAS=0,
                            NOX=0.538,
                            RM=6,
                            AGE=62,
                            DIS=4.7,
                            RAD=4,
                            TAX=307,
                            PTRATIO=21,
                            LSTAT=10,
                            MEDV=0,
                            ID=9999
))

head(new.df)

  CRIM ZN INDUS CHAS NOX   RM AGE DIS RAD TAX PTRATIO LSTAT MEDV ID
1 0.2  0  7     0    0.538 6  62  4.7 4   307 21      10    0    9999

In [77]:
predict(knnTrain, newdata = new.df)

[1] 21.14